h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

::selection {
  background-color: #78ffd1;
  color: #606887;
}

body, html {
  font-family: studiofeixen-variable,studiofeixen,Arial,Helvetica,sans-serif;
  letter-spacing: -.015em;
  font-weight: unset;
  font-size: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}